<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519583705139-so8bhf9k2b6ah4efnierk67d29eg5ul1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519583705139-so8bhf9k2b6ah4efnierk67d29eg5ul1</string>
	<key>API_KEY</key>
	<string>AIzaSyDu2Dq0Rjgy089QEiTNzPfn7kyUTN3r0xg</string>
	<key>GCM_SENDER_ID</key>
	<string>519583705139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kaleo.chat.app</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ej32i2</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ej32i2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519583705139:ios:6d96a3806cd32726f2db46</string>
</dict>
</plist>